{
  "extends": "standard",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-duplicate-imports": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  }
}